body{
	font-family: Verdana Regular;
}
#headrr{
	width: 996px;
}
header {
	display: block;
	position: relative;
	padding: 30px 0 20px;
	/*background-color: #303030;
	color: white;*/
}
.head_form{
	/*display: flex;*/
	padding-top: 5px;
	/*width: 400px;*/
}

.input{
	display: block;
	position: relative;
	outline: none;
	border: none;
	padding-right: 6px;
	
}
.input input{
	width: 220px;
	margin-bottom: 2px;
}

.head_buttons{
	display: inline-block;
	position: relative;
	outline: none;
	border: none;
	color: white;

}
.head_buttons button{
	border: 1px solid black;
	padding: 0 12px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    user-select: none;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    width: auto;
}

._in_reg{
	padding-top: 20px;
	text-align: right;
	vertical-align: middle;
	color: black;
}
._in_reg a{
	color: black;
}

.head_reg{

}

.head_menu div{
	display: block;
	position: relative;
}

.head_menu ul{
	display: table;
	list-style-type: none;
	background-color: ;
	color: white;
	/*padding-left: 20px;
	padding-right: 20px;*/
	
}


.head_menu li{
	display: table-cell;
    text-align: center;
}

.head_menu li{
	box-sizing: content-box;
	padding: 16px 17px;
}